

/* ==========================================================================
   by Simon Whiteley may 2014
   ========================================================================== */

@font-face {
    font-family: 'DoulosSIL'; 
    src: url('../fonts/DoulosSIL-R.ttf'); 
}

.navbar-nav > li {
    float: none;
}

@media(max-width:768px)
{
    .navbar-collapse {
        padding-left: 0px;
        padding-right: 0px;
        background-color: #c0c0c0;
    }

    .navbar-header {
        max-height: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav.navbar-nav.nav-justified {
        padding-left: 15px;
    }

    .navbar-toggle {
        margin-top: 0px;
        height: 40px;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        background-image: url('../img/navbar.jpg');
        margin-bottom: 0px;
        padding-right: 15px;
    }
    .collapse.in {
        background-image: none;
        background-color: #c0c0c0;
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar-collapse.collapsing {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-toggle > .container {
        margin: 0px;
        padding: 0px;
        float: right;
    }



    .navbar-nav.nav-justified > li {
        padding-left: 15px;
        //    padding-right: 0px;
        float: left;
        clear: left;
        width: 100%;
    }
    .navbar-nav.nav-justified > li > a {
        text-align: left;
    }
}

@media(max-width:992px)
{
    .navbar-nav.nav-justified > li > a {
        font-size: 25px;
    }  
}

@media(min-width:992px)
{
    .navbar-nav.nav-justified > li > a {
        font-size: 30px;
    }  
}

.jumbotron {
   padding-top: 40px !important;
   padding-left: 0px !important;
   padding-right: 0px !important;
   padding-bottom: 0px !important;
}

body > .container {
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}

.container {
    max-width: 960px;
}

.navbar.navbar-inverse.navbar-fixed-top > .container {
    padding-left: 40px;
    padding-right: 40px;
}
/*
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar-header > li > a {padding-top:10px !important; padding-bottom:10px !important;}

*/
.navbar {
    padding-top: 0px;
    margin-bottom: 0px;
    background: none;
    border-bottom: none;
    height: 40px;
}
.navbar.navbar-inverse.navbar-fixed-top.navbar-collapse.active {
    max-height: 40px;
}
.navbar-nav.nav-justified > li > a {
    padding: 10px 10px;
    text-transform: uppercase;
    color: #000;
}
.navbar > container {
    width: 930px;
}
.navbar-nav {
    max-height: 40px;
}
@media(min-width:768px)
{
    .navbar-collapse.collapse {
        background-image: url('../img/navbar.jpg');
    }
}

body {
    background-image: url('../img/papierachtergrond.jpg');
    background-repeat: repeat;
    padding-top: 0px;
    font-family: 'DoulosSIL';
}

/*
@media(min-width:768px)
{   
.navbar {min-height:40px;}
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

*/





